/* КОД. ФАЙЛ: src/shared/ui/Button/Button.module.css */

.button {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius-base);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  background-color: var(--color-primary);
  color: white;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #a0c3e8;
  cursor: not-allowed;
}
