/* КОД. ФАЙЛ: src/shared/ui/CreativePreview/CreativePreview.module.css */

.preview {
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  font-size: 12px;
  color: #777;
  background-color: #fafafa;
}

.image,
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 5px;
  text-align: center;
  max-height: 100%;
  overflow: hidden;
  font-style: italic;
  white-space: nowrap;
  text-overflow: ellipsis;
}
